/*---------------------------------------- Colors */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;

/*---------------------------------------- Debugging Tools - DELETE ME WHEN DONE */ 
    /* outline: 1px solid red !important; */
    /* background-color: rgb(100 0 0 / 0.05) !important; */
}

html {
    font-size: 15px;
}

body {
    background-color: var(--light-gray);
}

/*---------------------------------------- Card styling */
.card {
    width: 320px;
    background-color: var(--white);
    margin: 150px auto 25px auto;
    padding: 15px;
    border-radius: 20px;
}

.card__content {
    text-align: center;
}

.card__image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__heading {
    font-family: Outfit, sans-serif;
    color: var(--dark-blue);
    padding: 0 15px;
    margin-bottom: 15px;
}

.card__paragraph p {
    font-family: Outfit, sans-serif;
    color: var(--gray);
    padding: 0 30px;
}